*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-family: "Roboto", sans-serif;
	color: black;
	/* background-color: rgb(228, 227, 227); */
	background-color: rgb(58, 58, 58);
}

#root {
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Header */
h1 {
	padding: 30px 0;
	font-size: 50px;
}

/* Main */
main {
	flex-grow: 1;
	display: flex;
	margin: 0 40px;
	gap: 40px;
	justify-content: center;
}

main div {
	height: 100%;
}

/* Forms */
.forms-container {
	flex: 1 1;
	max-width: 450px;
	min-width: 250px;
	/* border: 2px white solid; */
}

form {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: whitesmoke;
	color: black;
	border-radius: 30px;
	padding: 20px;
	text-align: left;
}

.form-header-container {
	display: flex;
}

.form-header {
	display: flex;
	align-items: center;
}

.form-header i {
	font-size: 22px;
	margin: 0 10px;
}

h2 {
	font-size: 25px;
	/* padding: 10px 0; */
}

.input-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 10px 0;
}

label {
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}

input {
	background-color: rgb(228, 227, 227);
	font-size: 16px;
	padding: 0 15px;
	height: 45px;
	border-radius: 15px;
	border: none;
}

/* Submit button */
.add {
	font-size: 18px;
	color: aliceblue;
	height: 45px;
	width: 110px;
	border: none;
	background-color: rgb(78, 149, 255);
	border-radius: 25px;
	cursor: pointer;
	margin: 15px 0 10px;
}

textarea:focus,
input:focus {
	outline: 3px solid rgb(78, 149, 255);
}

/* CV section */
.cv-container {
	/* border: 2px red solid; */
	flex: 1 1 30%;
	min-width: 300px;
	max-width: 800px;
}

.cv {
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
	height: 950px;
}

/* .cv-personal-info {
} */

.cv-personal-info :first-child {
	font-size: 23px;
	display: block;
}

.cv-personal-info p {
	display: inline-block;
	font-size: 16px;
}

.cv div {
	border: 2px red solid;
	/* flex: 1 1 auto; */
	height: fit-content;
}

/* Footer */
footer {
	font-size: 30px;
	padding: 10px;
}

.fa-github {
	color: black;
	font-size: 30px;
	transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
	transform: rotate(360deg) scale(1.2);
}
